body, html {
    margin: 0;
    padding: 0;
    text-align: center;
}

body, button {
    background-color: white;
    color: #334;
    font-family: monospace;
}

html, body, #joystick {
    touch-action: none;
}

#joystick {
    margin: 0 auto;
    width: 310px;
    height: 310px;
    display: block;
    border: 2px solid #334;
    border-radius: 10px;
    background: radial-gradient(circle closest-side, #fff, #ccd);
}

h1 {
    text-align: center;
    font-size: 2rem;
}

#tiltBtn {
    margin-top: 1em;
    font-size: 1.5rem;
    padding: 1em 0;
    width: 310px;
    border-radius: 0.5em;
    border-style: none;
    display: none;
    color: white;
    font-weight: bold;
}

#heading {
    width: 310px;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.largetxt {
    font-size: 2em;
}

